/* Global Style is here */
* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-family: 'Work Sans', sans-serif;
}

main section {
  padding: 100px 230px;
}

/* Header Section Style */
header {
  background: rgba(229, 84, 115, 0.1);
  min-height: 100vh;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin: 0 240px;
}

.hero-info {
  width: 700px;
  max-height: 100vh;
  margin: auto 0;
}

.hero-title {
  color: #272727;
  font-size: 80px;
  font-weight: 900;
}

.hero-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  padding: 30px 0;
}

.hero-btn {
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  background: #e55473;
  padding: 20px 40px;
}
.hero-img {
  margin-bottom: 0;
}
.hero-img > img {
  margin-bottom: 0;
  width: 630px;
  height: 100vh;
}

/* Flower Section Style */

.flower-header {
  text-align: center;
  width: 100%;
}
.flower-header h3 {
  color: #272727;

  font-size: 40px;
  font-weight: 900;
}
.flower-header p {
  width: 600px;
  color: rgba(39, 39, 39, 0.6);
  margin: 0 auto;
  padding: 25px 0 45px;
}

.flower-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 25px;
}

.flower-item {
  height: 500px;
  width: 450px;
  border-radius: 300px 300px 0px 0px;
  text-align: center;
  padding: 110px 75px 0;
}

.item1 {
  background: rgba(167, 33, 98, 0.15);
}
.item2 {
  background: rgba(5, 151, 160, 0.15);
}
.item3 {
  background: rgba(71, 125, 17, 0.15);
}

.flower-item span {
  text-align: center;
  display: block;
  color: #272727;
  font-size: 24px;
  font-weight: 700;
  margin-top: 35px;
  text-decoration-line: underline;
}

.flower-item img {
  width: 310px;
  height: 425px;
  margin-top: 75px;
}

/* Delivery Section Style */

.delivery-infos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  padding: 85px 170px;
}

.delivery-info {
  text-align: center;
}

.delivery-info p {
  margin: 25px 0;
  color: rgba(39, 39, 39, 0.8);
  font-size: 24px;
  font-weight: 600;
}
